.wrapper {
    align-items: center;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    background: rgb(33, 32, 32);
    color: #ffffff;
    padding: 10px 32px;
    min-width: 32px;
    border-radius: 0.75rem;
    cursor: pointer;
    border: 0px solid transparent;
    user-select: none;
    transition: all 0.3s ease;

    // wrapper đứng ngay sau wrapper (2 nút kế nhau)
    // + .wrapper {
    //     margin-left: 16px;
    // }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// type button
.default {
    display: flex;
    font-weight: 700;
    background: linear-gradient(269.36deg, rgba(225, 134, 96, 0.9) 23.92%, rgba(244, 202, 93, 0.9) 101.14%);
    text-align: left;
    padding: 6px 12px;
}

.unstyle-link {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 400;
}
.transparent {
    background-color: #ffffff26;
    font-weight: 500;
}

.rounded {
    font-size: 1.125rem;
    padding: 12px 16px;
    min-width: 120px;
    color: var(--text-white);
    border-radius: 32px;
    line-height: 24px;
    &:hover {
        opacity: 0.9;
    }
}

.outline {
    font-size: 1.26rem;
    background-color: #000;
    border: 1px solid #24242f;
    padding: 8px 18px;
    border-radius: 20px;
    min-width: 80px;
    line-height: 1.6rem;
}

.social {
    font-size: 2rem;
    background-color: #352828;
    border-radius: 8px;
    margin: 16px;
    padding: 16px 32px;
    transition: all 0.2s ease;
    .icon {
        width: 22px;
        height: 22px;
    }
}
.clear {
    background-color: transparent;
    font-weight: 700;
}

.icon {
    width: 16px;
    height: 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
