@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Henju';
    src: url('./assets/fonts/Henju-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Henju';
    src: url('./assets/fonts/Henju-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Henju';
    src: url('./assets/fonts/Henju-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Henju';
    src: url('./assets/fonts/Henju-Bold.ttf') format('truetype');
    font-weight: 700;
}
:root {
    --color-primary: #e18660;
    --color-secondary: #f3a952;
    --text-color: #212020;
    --text-white: #fcfaf8;
    --bg-dark: #212020;
    --gradient-timer: linear-gradient(305.9deg, rgba(248, 214, 214, 1) -3.54%, rgba(241, 9, 9, 0.43) 104.87%);
    --gradient-playlist: linear-gradient(305.9deg, #d6e1f8 -3.54%, rgba(28, 9, 241, 0.21) 104.87%);
    --gradient-insights: linear-gradient(305.9deg, #d6e1f8 -3.54%, rgba(28, 9, 241, 0.21) 104.87%);
    --gradient-notes: linear-gradient(305.9deg, #daf8d6 -3.54%, rgba(46, 140, 44, 0.21) 104.87%);
    --gradient-sounds: linear-gradient(305.9deg, #e1467c -3.54%, #f3a952 104.87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Henju', sans-serif !important;
    background: #fcfaf8;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    font-size: 1rem;
    line-height: 1.375rem;
}

/*Font henju */

.slick-slider .slick-track {
    display: flex;
    align-items: center;
}
